

<div class="flex items-center justify-center h-screen">
  <div href="#" class="items-center justify-center block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h5 class=" flex justify-center items-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Countdown to the big day</h5>
    <countdown [config]="config" class="flex justify-center items-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"></countdown>
  </div>
</div>